/* Estilos Gerais */
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

/* Cabeçalho Hero */
.hero {
    background: linear-gradient(135deg, #0f0c29, #302b63);
    color: white;
    padding: 50px 0;
    margin-bottom: 30px;
}

/* Imagens do Jogador */
.player-img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito de hover para as imagens */
.player-img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Seções de Conteúdo */
.section {
    padding: 20px;
    background: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Estilo para links no rodapé */
footer a {
    color: #a9a9a9;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

/* Classe para esconder texto visualmente, mas mantê-lo para leitores de tela */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}